.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.container>.a {
  border: 1px solid black;
  width: 450px;
  height: 150px;
  position: relative; 
  margin:10px;
  padding:10px;
  overflow: hidden;
  background: #cf6161;
}

.container>.b {
  border: 1px solid black;
  width: 450px;
  height: 150px;
  position: relative; 
  margin:10px;
  padding:10px;
  overflow: hidden;
  background: #b2cf61;
}

.container>.c {
  border: 1px solid black;
  width: 450px;
  height: 200px;
  position: relative; 
  margin:10px;
  padding:10px;
  overflow: hidden;
  background: #6191cf;

}

.container>.d {
  border: 1px solid black;
  width: 450px;
  height: 100px;
  position: relative; 
  margin:10px;
  padding:10px;
  overflow: hidden;
  background: #cfa961;
}

.scroll {
  border: 1px solid black;
  width: 450px;
  height: 100px;
  margin:10px;
  padding:10px;
  background: #cfa961;
  overflow-y: scroll;
}

.ellipsis {
  height: 85%;
  --width: 200px;
  overflow-y: hidden;
  margin-bottom: 10px;
}

.ellipsis:after {
  content: '...';
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 32px;
}

/* .ex2 {
  height: 55px;
  --width: 200px;
  overflow-y: hidden;
  margin-bottom: 10px;
}

.ex2:after {
  content: '...';
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 32px;
} */
