.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;  
}

.container>div:nth-child(1) {
  width: 200px;
  height: 200px;
  background: #cf6161;
  margin: 1rem;
  padding: 1rem;
}

.container>div:nth-child(2) {
  width: 500px;
  height: 150px;
  background: #b2cf61;
  margin: 1rem;
  padding: 1rem;
}

.container>div:nth-child(3) {
  width: 600px;
  height: 200px;
  background: #6191cf;
  margin: 1rem;
  padding: 1rem;
}

div .a{
  overflow-y: scroll;
  overflow-x: hidden;
}

div .b{
  overflow-y: scroll;
  overflow-x: hidden;
}

div .c{
  overflow-y: scroll;
  overflow-x: hidden;
}
