<h1>{{ title }}</h1>

<div class="container">
  <div>
    <app-test></app-test>
  </div>
  <div>
    <app-test></app-test>
  </div>
  <div>
    <app-test></app-test>
  </div>

  <ul>
    <li *ngFor="let element of users" [type]="element">
      {{element.id}}, {{element.name}}, {{element.occupation}},
      {{element.address}}, {{element.city}}, {{element.phone}}
    </li>
  </ul>

  <div>
    <table>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Occupation</th>
        <th>Address</th>
        <th>City</th>
        <th>Phone number</th>
      </tr>
      <tr *ngFor="let element of users">
        <td>{{element.id}}</td>
        <td>{{element.name}}</td>
        <td>{{element.occupation}}</td>
        <td>{{element.address}}</td>
        <td>{{element.city}}</td>
        <td>{{element.phone}}</td>
      </tr>
    </table>
  </div>

</div>
