<p>Mat Password - material + password + reactive form + validation </p>
<mat-card>
  <mat-card-title>Mat Password</mat-card-title>
  <mat-card-subtitle>Example</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput placeholder="Enter your password" formControlName="passwordControl" [type]="hide ? 'password' : 'text'"
          required>
        <button mat-button color="primary" matSuffix mat-icon-button (mousedown)="mouseDown()" (mouseup)="mouseUp()">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordForm.controls['passwordControl'].errors?.required">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Re-enter your password" formControlName="passwordConfirmControl" [type]="hidden ? 'password' : 'text'"
          required>
        <button mat-button color="primary" matSuffix mat-icon-button (mousedown)="hidden = !hidden" (mouseup)="hidden = !hidden">
          <mat-icon>{{hidden ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordForm.controls['passwordConfirmControl'].errors?.required">
            Confirm Password is <strong>required</strong>
          </mat-error>
      </mat-form-field>
      <p>
        <button type="submit" [disabled]="!passwordForm.valid">Submit</button>
      </p>
    </form>
  </mat-card-content>
</mat-card>

<p>
  Form Status: {{ passwordForm.status }}
</p>

<!-- Another solution to set cursor to pointer  -->

<!-- <mat-form-field> -->
<!-- <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"> -->

<!-- First Solution with mouseover and mouseout event -->
<!-- <mat-icon matSuffix (mouseover)="hide = !hide" (mouseout)="hide = !hide"> -->

<!-- Second solution with mouse down and mouseup event -->
<!-- <mat-icon matSuffix (mousedown)="mouseDown($event)" (mouseup)="mouseUp()" [ngClass]="{cursor_pointer: hide}"> -->

<!--  Third solution with mouse down and mouseup event -->
<!-- <mat-icon matSuffix (mousedown)="mouseDown($event)" (mouseup)="mouseUp()" [ngClass]="'cursor_pointer'"> -->

<!-- {{hide ? 'visibility_off' : 'visibility'}} -->
<!-- </mat-icon> -->
<!-- </mat-form-field> -->
