<mat-card>
  <mat-card-title>Mat Password</mat-card-title>
  <mat-card-subtitle>Example</mat-card-subtitle>
  <mat-card-content>

    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <button mat-button color="primary" *ngIf="hide" matSuffix mat-icon-button aria-label="Clear" (click)="hide = !hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <input matInput type="text" placeholder="Clearable input" [(ngModel)]="value">
      <button mat-button color="primary" *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    
  </mat-card-content>
</mat-card>


<!-- Another solution to set cursor to pointer  -->

<!-- <mat-form-field> -->
<!-- <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"> -->

<!-- First Solution with mouseover and mouseout event -->
<!-- <mat-icon matSuffix (mouseover)="hide = !hide" (mouseout)="hide = !hide"> -->

<!-- Second solution with mouse down and mouseup event -->
<!-- <mat-icon matSuffix (mousedown)="mouseDown($event)" (mouseup)="mouseUp()" [ngClass]="{cursor_pointer: hide}"> -->

<!--  Third solution with mouse down and mouseup event -->
<!-- <mat-icon matSuffix (mousedown)="mouseDown($event)" (mouseup)="mouseUp()" [ngClass]="'cursor_pointer'"> -->

<!-- {{hide ? 'visibility_off' : 'visibility'}} -->
<!-- </mat-icon> -->
<!-- </mat-form-field> -->
