<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Filter Panel
  </h1>

  <!-- Template Driven Form - with field_def21  -->
  <app-nord-filter-panel [title]="panel_title" [field_def]="field_def"></app-nord-filter-panel>
  <br>

  <!-- Template Driven Form - with field_def2  -->
  <app-nord-filter-panel [title]="panel_title2" [field_def]="field_def2"></app-nord-filter-panel>
  <br>

  <!--  Dynamic Form - not finished yet -->
  <!-- <app-nord-filter-panel2 [title]="panel_title" [field_def]="field_def">loading</app-nord-filter-panel2>
  <br> -->

  <!--  Reactive Form - with field_def3 -->
  <app-nord-filter-panel3 [title]="panel_title" [field_def]="field_def3" [padding_size]="padding_size"></app-nord-filter-panel3>
  <br>

  <!--  Reactive Form - with password input + validator -->
  <app-mat-password></app-mat-password>
  <br>


  <ns-mat-password [formControl]="userPasswdControl" [placeholder]="passwdPlaceHolder" [confirmHolder]="confirmPlaceHolder"></ns-mat-password>


  <hr>
  Form value:{{ userPasswdControl.value }}
  <br>
  Form Status: {{ userPasswdControl.status }}
  <br>
  Form Pristine: {{ userPasswdControl.pristine }}
  <br>
  Form Dirty: {{ userPasswdControl.dirty }}
  <br>
  Form Touched: {{ userPasswdControl.touched }}
  <br>
  <!-- Form: {{userPasswdControl | json}} -->



</div>
