<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Filter Panel
  </h1>

  <app-nord-filter-panel [title]="panel_title" [field_def]="field_def">loading</app-nord-filter-panel>
  <br>

  <app-nord-filter-panel [title]="panel_title2" [field_def]="field_def2">loading</app-nord-filter-panel>

  <br>
  
  <!-- <div class="mat-app-background basic-container">
    <app-nord-filter-panel [title]="panel_title3" [field_def]="field_def3">loading</app-nord-filter-panel>
  </div> -->

  <!-- <app-nord-filter-panel2 [title]="panel_title" [field_def]="field_def">loading</app-nord-filter-panel2> -->

  <app-nord-filter-panel3 [title]="panel_title" [field_def]="field_def"></app-nord-filter-panel3>
<br>

</div>
