<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ title }}
      </mat-panel-title>
      <mat-panel-description *ngIf="!panelOpenState">
        <p>Some text</p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field *ngFor="let element of field_def">
      <div [ngSwitch]="element.type">

        <div *ngSwitchCase="'number'">
          <input matInput type="{{ element.type }}" placeholder="{{ element.caption }}" value="{{ element.value}}">
        </div>

        <div *ngSwitchCase="'date'">
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Date 1" value="{{ element.value}}">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>

        <div *ngSwitchCase="'string'">
          <input matInput type="{{ element.type }}" placeholder="{{ element.caption }}" value="{{ element.value}}">
        </div>

        <div *ngSwitchCase="'radio'">
          <label>{{ element.caption + ": " }}</label>
          <mat-radio-group>
            <mat-radio-button *ngFor="let sub of element.value" value="{{ sub.value }}">{{ sub.caption }}</mat-radio-button>
          </mat-radio-group>
        </div>

        <div *ngSwitchDefault>
            <input matInput type="text" />
        </div>

        <input matInput type="text" />

      </div>
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>
