 table {
  text-align: center;
  table-layout: fixed; /*auto, fixed*/
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
}
 /* */
.scroll {
  overflow-y: scroll;
}

.ellipsis {
  height: 85%;
  --width: 200px;
  overflow-y: hidden;
  margin-bottom: 10px;
}

.ellipsis:after {
  content: '...';
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 32px;
}