<mat-form-field>
  <input matInput [formControl]="passwdControl"  placeholder={{placeholder}} [type]="hide ? 'password' : 'text'"  (keyup)="pushChanges($event.target)">
  <button mat-button color="primary" type="button" matSuffix mat-icon-button (mousedown)="hide = !hide" (mouseup)="hide = !hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <mat-error *ngFor="let validation of password_validation_messages.password">
    <mat-error class="error-message" *ngIf="passwdControl.hasError(validation.type) && (passwdControl.dirty || passwdControl.touched)">{{validation.message}}</mat-error>
  </mat-error>
</mat-form-field>
<br>
<mat-form-field>
  <input matInput [formControl]="passwdConfirmControl" placeholder="{{confirmHolder}}" [type]="hidden ? 'password' : 'text'" (keyup)="pushChanges($event.target)">
  <button mat-button color="primary" type="button" matSuffix mat-icon-button (mousedown)="hidden = !hidden" (mouseup)="hidden = !hidden">
    <mat-icon>{{hidden ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <mat-error *ngFor="let validation of password_validation_messages.confirm_password">
    <mat-error class="error-message" *ngIf="passwdConfirmControl.hasError('notEqual') && (passwdConfirmControl.dirty || passwdConfirmControl.touched)">{{validation.message}}</mat-error>
  </mat-error>
</mat-form-field>

<hr>
Value: {{passwdControl.value}}
Status: {{passwdControl.status}}
<!-- Form Pristine: {{ passwdControl.pristine }}
Form Dirty: {{ passwdControl.dirty }}
Form Touched: {{ passwdControl.touched }} -->
<br>
Value: {{passwdConfirmControl.value}}
Status: {{passwdConfirmControl.status}}
<!-- Form Pristine: {{ passwdConfirmControl.pristine }}
Form Dirty: {{ passwdConfirmControl.dirty }}
Form Touched: {{ passwdConfirmControl.touched }} -->


