<mat-form-field>
  <input matInput [formControl]="passwdControl"  placeholder={{placeholder}} [type]="hide ? 'password' : 'text'" required (keyup)="pushChanges($event.target)">
  <button mat-button color="primary" type="button" matSuffix mat-icon-button (mousedown)="hide = !hide" (mouseup)="hide = !hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <mat-error *ngIf="passwdControl.hasError('required')">
    Password is <strong>required</strong>
  </mat-error>
</mat-form-field>
<br>
<mat-form-field>
  <input matInput [formControl]="passwdConfirmControl" placeholder="{{confirmHolder}}" [type]="hidden ? 'password' : 'text'" (keyup)="pushChanges($event.target)">
  <button mat-button color="primary" type="button" matSuffix mat-icon-button (mousedown)="hidden = !hidden" (mouseup)="hidden = !hidden">
    <mat-icon>{{hidden ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <mat-error *ngIf="passwdConfirmControl.hasError('invalid')">
    Password <strong>mismatch</strong>
  </mat-error>
</mat-form-field>

<!-- ($event.target.value) -->

<hr>
Value: {{passwdControl.value}}
Status: {{passwdControl.status}}
Form Pristine: {{ passwdControl.pristine }}
Form Dirty: {{ passwdControl.dirty }}
Form Touched: {{ passwdControl.touched }}
<br>
Value: {{passwdConfirmControl.value}}
Status: {{passwdConfirmControl.status}}
Form Pristine: {{ passwdConfirmControl.pristine }}
Form Dirty: {{ passwdConfirmControl.dirty }}
Form Touched: {{ passwdConfirmControl.touched }}


