<p>Ns Mat Password Component</p>

  <input matInput [formControl]="passwordControl" placeholder="{{passwordPlaceholder}}" [type]="hide ? 'password' : 'text'" required>
  <button mat-button color="primary" type="button" matSuffix mat-icon-button (mousedown)="hide = !hide" (mouseup)="hide = !hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
  <!-- <mat-error *ngIf="passwordControl.hasError('required')">
    Password is <strong>required</strong>
  </mat-error> -->

